<launch>
  <node pkg="sirius_spectacularai" type="slam.py" name="slam_manip">
        <param name="camera_id" value="19443010114A722700"/>
        <param name="pointcloud_frame" value="slam_manip"/>
        <param name="odom_frame" value="gripper"/>
        <param name="topic_prefix" value="/slam_manip"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 map slam_manip 100" />
</launch>
