<launch>
  <node pkg="sirius_spectacularai" type="slam.py" name="slam">
        <param name="camera_id" value="19443010B1B2F51200"/>
        <param name="pointcloud_frame" value="slam"/>
        <param name="odom_frame" value="base_link_local"/>
        <param name="topic_prefix" value="/slam"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map slam 100" />
</launch>
